name: CI/CD to AWS

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to AWS
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Login to ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker image
        run: docker build -t mini-app .

      - name: Tag image
        run: docker tag mini-app:latest ${{ steps.login-ecr.outputs.registry }}/mini-devops-repo:latest

      - name: Push to ECR
        run: docker push ${{ steps.login-ecr.outputs.registry }}/mini-devops-repo:latest